body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
.container-img-home {
    position: relative;
}

.text-img-home {
    margin: 0px;
    padding: 0px;
    position: absolute;
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    display: block;
    width: 90%;
    max-width: 100%;
    margin-top: 25px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.home-imagem {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    object-fit: cover;

}

footer {
    text-align: center;
}

input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #dbdbdb;
    padding: 10px;

}

input:hover {
    border-bottom: 2px solid #007db8;
}

input.botaoCadastrar {
    width: 200px;
    border: 2px;
    font-weight: bold;
    outline: none;
    border-radius: 2px;
    background-color: #007db8;
    color: #fff;
    transition: 200ms;
}

    input.botaoCadastrar:hover {
        background-color: #006999;
    }

.editor-label {
    margin-top: 10px;
}

.editor-field {
    word-break: break-all;
    text-align: justify;
}

.formulario {
    border: 1px solid #bfbfbf;
    padding: 3%;
    border-radius: 5px;
    display: block;
    width: 50%;
    max-width: 1200px;
    margin: auto;
    margin-top: 25px;
}

@media screen and (max-width: 700px) {
    .formulario {
        width: 100%;
    }
}

.formulario legend {
    text-align: center;   
    display: inline;
    width: auto;
    border-bottom: none;
    padding: 0 10px;
    margin: 0;
}

.textoJogoSinopse {
    resize: none;
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    outline: none;
}

.field-validation-error {
    display: block;
    margin: 5px;
    color: #ff1a1a;

}


element.style {
}

.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 768px) {
    .container {
        width: 100% !important;
    } 
}

